/* --- ESTILOS GENERALES --- */
* {
  color: #5D4037; /* Texto Principal: Marron Oscuro */
  font-family: 'Lato', sans-serif !important;
}

body {
  background-color: #FFF5E1; /* Crema Pastel */
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Pacifico', cursive !important;
  color: #5D4037;
}

.text-secundario {
  color: #B0BEC5 !important;
}

/* --- ESTILOS DE BOTONES --- */
.btn-primary {
  background-color: #FFC0CB;
  border-color: #FFC0CB;
  color: #5D4037;
}

.btn-secondary {
  background-color: #8B4000;
  border-color: #8B4000;
}

.btn-success {
  background-color: #FFC0CB;
  border-color: #FFC0CB;
  color: #5D4037;
}

.btn-danger {
  background-color: #8B4000;
  border-color: #8B4000;
}

.btn-primary:hover, .btn-secondary:hover, .btn-success:hover, .btn-danger:hover {
  opacity: 0.8;
}

/* --- ESTILOS DE NAVBAR LINKS (LA SOLUCION) --- */

/* 1. Estilo INACTIVO (Opaco) */
/* Lo hacemos mas especifico para ganar a Bootstrap */
.navbar-nav .nav-link-custom {
  color: white !important;
  opacity: 0.75; /* Opacidad al 75% */
  font-weight: normal;
  text-decoration: none;
  /* Transicion suave */
  transition: opacity 0.2s ease, color 0.2s ease, text-decoration 0.2s ease;
}

/* 2. Estilo ACTIVO (Subrayado, Fuerte) */
.navbar-nav .nav-link-custom.active {
  opacity: 1;
  font-weight: bold;
  text-decoration: underline;
  color: white !important; /* Aseguramos que siga blanco */
}

/* 3. Estilo HOVER (Rosado, Fuerte) */
/* Tambien aplica al link activo */
.navbar-nav .nav-link-custom:hover,
.navbar-nav .nav-link-custom.active:hover {
  opacity: 1;
  color: #FFC0CB !important; /* El color Rosa Suave que te gusta */
}

/* 4. Aseguramos que los links de la Navbar (blancos) no se pongan marrones */
.navbar-brand, .navbar-text {
  color: white !important;
}
.navbar-brand:hover {
  color: #FFC0CB !important;
}


/* --- ESTILOS DE IMAGENES --- */
.carousel-img-fixed-height {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.card-img-fixed-height {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

